.App { 
  display: grid;
  grid-template-columns: 0.7fr 5fr;
  grid-template-rows: auto auto 50px;
  grid-template-areas: 
    "header    header"
    "main    main"
    "footer footer";
  height: 100vh;
}

header {
  grid-area: header;
  margin: 0;
  padding:0;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: grey;
  text-align: center;
}